h1 {
    font-family: "ArchivoBlack";
    font-size: 30px;
}

.smallIcon {
    width: 40px;
}

.login-form {
    width: 384px;
}

.already-have-account {
    transition: 0.5s;
    font-size: 13px;
}

.already-have-account:hover {
    color: #706fd3;
}
